/* contact us */


/* Existing styles */
#contact{
    background-color: #E5F6FF;
    color: #132F58;
    height: 700px;
  }
  .contact-section {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .contact-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  
  .contact-image {
    flex: 1;
    padding-right: 100px;
  }
  
  .contact-image img {
    width: 90%;
    height: auto;
  }
  
  .contact-details {
    flex: 1;
  }
  
  .contact-details h2 {
    margin-bottom: 30px;
  }
  
  .contact-details .form-group {
    margin-bottom: 15px;
  }
  
  .contact-details label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-details input,
  .contact-details textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-details button.cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-details button.cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Default styles (applies to larger screens) */
  
  /* Responsive adjustments */
  
  @media (max-width: 768px) {
    .contact-image {
      display: none;
    }
  
    .contact-details {
      padding: 0; /* Adjust padding if necessary */
    }
    
    .contact-section {
      padding: 20px;
    }
    
    .contact-details h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    
    .contact-details .form-group {
      margin-bottom: 15px;
    }
    
    .contact-details input,
    .contact-details textarea {
      padding: 10px;
      font-size: 14px;
    }
    
    .contact-details button.cta-button {
      padding: 10px 20px;
      font-size: 14px;
    }
  }